@model Śluber.Models.Errand

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Errand</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ErrandDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ErrandDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ErrandStatus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ErrandStatus)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ErrandPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ErrandPrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Note)
        </dt>
        <text class="col-sm-10">
            @Html.DisplayFor(model => model.Note)
        </text>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
