@model Śluber.Models.Wedding

@{
    ViewData["Title"] = "Details";
}

<h1>Szczegóły</h1>

<div>
    <h4>Nasz ślub</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WifeName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WifeName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HusbandName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HusbandName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WeddingDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WeddingDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WeddingPlace)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WeddingPlace)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Budget)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Budget)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cost)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edytuj</a> |
    <a asp-action="Index">Powrót do strony głównej</a>
</div>
