@model IEnumerable<Śluber.Models.Wedding>

@{
    ViewData["Title"] = "Index";
}


<h1 class="text-center">Nasz Ślub</h1>
<div class="container">
    <a asp-action="Create">Dodaj nowy ślub</a>
</div>



@foreach (var item in Model)
{
    <div>
        <a asp-action="Edit" asp-route-id="@item.Id">Edytuj</a> |
        <a asp-action="Details" asp-route-id="@item.Id">Szczegóły</a> |
        <a asp-action="Delete" asp-route-id="@item.Id">Usuń</a>
    </div>

    <body>

        <main role="main">

            <div class="container text-center">



                <div class="row">

                    <div class="col-lg-5">
                        <img class="float-right; rounded-circle" src="~/pictures/no_person.png" alt="Generic placeholder image" width="140" height="140">
                        <h2>@Html.DisplayFor(modelItem => item.WifeName, "Imię")</h2>
                    </div>

                    <div class="col-lg-2">
                        <h2>&</h2>
                    </div>

                    <div class="col-lg-5">
                        <img class="rounded-circle" src="~/pictures/no_person.png" alt="Generic placeholder image" width="140" height="140">
                        <h2>@Html.DisplayFor(modelItem => item.HusbandName, "Imię")</h2>
                    </div>
                </div>

                <div class="row featurette">
                    <div class="col-md-12">
                        <h3>Data: @Html.DisplayFor(modelItem => item.WeddingDate)</h3>
                        <h4>Miejsce: @Html.DisplayFor(modelItem => item.WeddingPlace)</h4>
                        <h5>Do naszego ślubu pozostało:</h5>
                    </div>
                </div>
            </div>

            <footer class="container">
            </footer>

        </main>

    </body>
}
