
@using System.Linq
@using Microsoft.AspNetCore.Identity

@model List<Wedding>

@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Welcome to the Wedding Planner";
}

<h2>@ViewData["Title"]</h2>


<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Wedding</th>
            <th>Date</th>
            
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Wedding w in @Model)
        {
            <tr>
                <td><a asp-controller="Weddings" asp-action="GetWedding" asp-route-weddingId="@w.Id">@w.Name</a></td>
                <td>@w.WeddingDate.ToString("MMMM d, yyyy")</td>
                @*<td>@w.GuestCount</td>
                <td>
                    @if (w.OwnerId != @UserManager.GetUserId(User))
                    {

                        if (w.Guests.Any(wg => wg.OwnerId == @UserManager.GetUserId(User)))
                        {

                            <a asp-controller="Weddings" asp-action="LeaveWedding" asp-route-weddingId="@w.WeddingId">Un-RSVP</a>
                        }
                        else
                        {
                            <a asp-controller="Weddings" asp-action="JoinWedding" asp-route-weddingId="@w.WeddingId">RSVP</a>
                        }

                    }
                    else
                    {
                        <a asp-controller="Weddings" asp-action="DeleteWedding" asp-route-weddingId="@w.WeddingId">Delete</a>
                    }
                </td>*@
            </tr>
        }

    </tbody>
</table>
<a asp-area="" asp-controller="Weddings" asp-action="Create" class="btn btn-primary">Create New Wedding</a>

