@model Śluber.Models.Wedding

@{
    ViewData["Title"] = "Index";
}


<h1 class="text-center">Nasz Ślub</h1>
<div class="container">
    <a asp-action="Create">Dodaj dane</a>
</div>
<body>

    <main role="main">

        <div class="container marketing">



            <div class="row">

                <div class="col-lg-5">
                    <img class="float-right; rounded-circle" src="~/pictures/no_person.png" alt="Generic placeholder image" width="140" height="140">
                    <h2>@Html.LabelFor(m => m.WifeName, "Imię")</h2>
                </div>

                <div class="col-lg-2">
                    <h2>&</h2>
                </div>

                <div class="col-lg-5">
                    <img class="rounded-circle" src="~/pictures/no_person.png" alt="Generic placeholder image" width="140" height="140">
                    <h2>@Html.LabelFor(m => m.HusbandName, "Imię")</h2>
                </div>
            </div>

            <div class="row featurette">
                <div class="col-md-12">
                    <h3>Data: @Html.LabelFor(m => m.WeddingDate)</h3>
                    <h4>Miejsce: @Html.LabelFor(m => m.WeddingPlace)</h4>
                    <h5>Do naszego ślubu pozostało:</h5>
                </div>
            </div>
        </div>

        <footer class="container">
        </footer>

    </main>

</body>

@*@<table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.WifeName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HusbandName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.WeddingDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.WeddingPlace)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Budget)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Cost)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.WifeName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HusbandName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WeddingDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WeddingPlace)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Budget)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cost)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
    }
        </tbody>
    </table>*@
